:host {
    min-height: 909px;
}
.aside{background:#2e363f;padding:2em .2em 0 1em}
.aside a{color:#afb8c3}.aside 
.menu-list li{margin-top:.5em}
.main{padding:2em 1em 0}
.menu-label{color:#00d1b2;margin-left:.5em}
.block{margin-top:.5em}