<aside>
  <nav class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a class="is-active" href="#"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> Dashboard</a></li>
      <li>
        <a class=""><i class="fa fa-briefcase"></i> Vagas</a>
        <ul>
          <li><a routerLink="/jobs">Listar</a></li>
          <li><a routerLink="/jobs/add">Adicionar</a></li>
        </ul>
      </li>
      <li>
        <a class=""><i class="fa fa-laptop"></i> Tecnologias</a>
        <ul>
          <li><a routerLink="/technologies">Listar</a></li>
          <li><a routerLink="/technologies/add">Adicionar</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/interviews/add">
          <span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span> Nova Entrevista
        </a>
      </li>
      <li>
        <a routerLink="/job-ranking">
          <span class="icon is-small"><i class="fa fa-line-chart"></i></span> Gerar relatório de seleção
        </a>
      </li>
    </ul>
  </nav>
</aside>