<app-headbar></app-headbar>

<div class="wrapper">
  <div class="columns">
    <app-aside-menu class="aside column is-2"></app-aside-menu>
    <main class="column main">
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">Lista de Tecnologias</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary">Lista de Tecnologias</div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
          <div class="column">
            <article class="message is-danger" *ngIf="errors.length > 0">
              <div class="message-body">
                <ul>
                  <li *ngFor="let error of errors">{{error.message}}</li>
                </ul>
              </div>
            </article>
            <article class="message is-success" *ngIf="success">
                <div class="message-body">
                  {{success}}
                </div>
              </article>
            <table class="table is-bordered is-striped is-narrow is-fullwidth">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Criada em</th>
                  <th>Alterada em</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let technology of technologies">
                  <td>{{technology.name}}</td>
                  <td>{{formatDate(technology.createdAt)}}</td>
                  <td>{{formatDate(technology.updatedAt)}}</td>
                  <td>
                      <a routerLink="/technologies/edit/{{technology.id}}" class="button is-text">Editar</a>
                      <a (click)="removeTechnology(technology.id)" class="button is-text">Remover</a>
                  </td>
                </tr>
                <tr *ngIf="technologies.length == 0">
                  <td style="text-align:center" colspan="4">Não há nenhuma tecnologia cadastrada</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </main>
  </div>
</div>