<app-headbar></app-headbar>

<div class="wrapper">
  <div class="columns">
    <app-aside-menu class="aside column is-2"></app-aside-menu>
    <main class="column main">
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">Relatório de seleção</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary">Relatório de seleção</div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-9">
          <article class="message is-success" *ngIf="success">
            <div class="message-body">
              {{success}}
            </div>
          </article>
          <article class="message is-danger" *ngIf="errors.length > 0">
            <div class="message-body">
              <ul>
                <li *ngFor="let error of errors">{{error.message}}</li>
              </ul>
            </div>
          </article>
          <form [formGroup]="form">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Vaga</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select formControlName="jobId">
                          <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal" *ngFor="let technology of technologiesFields.controls; let i=index">
                <div class="field-label is-normal">
                  <label class="label">{{technologies[i].name}}</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <div class="columns">
                        <div class="column is-half">
                          <input type="number" [formControl]="technology" class="input" [ngClass]="(!form.controls.technologies.controls[i].valid && !form.controls.technologies.controls[i].pristine)?'is-danger':''"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="field is-horizontal">
                <div class="field-label">
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button [ngClass]="isLoading ? 'is-loading' : ''" class="button is-primary" (click)="submit()" [disabled]="!form.valid">
                        Gerar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </form>

          <section *ngIf="result" class="section">
            <div class="container">
              <h1 class="title">Ranking do candidatos entrevistados</h1>
              <table  class="table is-bordered is-striped is-narrow is-fullwidth">
                <thead>
                  <tr>
                    <th>Candidato</th>
                    <th>E-mail</th>
                    <th>Pontuação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let candidate of result.candidates">
                    <td>{{candidate.name}}</td>
                    <td>{{candidate.email}}</td>
                    <td>{{candidate.score}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </main>
  </div>
</div>