<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Teste DB1</strong>
      </p>
      <p>
        <a class="icon" href="https://github.com/lira92">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>