<app-headbar></app-headbar>

<div class="wrapper">
  <div class="columns">
    <app-aside-menu class="aside column is-2"></app-aside-menu>
    <main class="column main">
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">Nova entrevista</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary">Nova entrevista</div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-9">
          <article class="message is-success" *ngIf="success">
            <div class="message-body">
              {{success}}
            </div>
          </article>
          <article class="message is-danger" *ngIf="errors.length > 0">
            <div class="message-body">
              <ul>
                <li *ngFor="let error of errors">{{error.message}}</li>
              </ul>
            </div>
          </article>
          <form [formGroup]="form">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Vaga</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select formControlName="jobId">
                          <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Candidato</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input formControlName="name" [ngClass]="(!form.controls.name.valid && !form.controls.name.pristine)?'input is-danger':'input'" type="text" placeholder="Nome">
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </p>
                    <p *ngIf="!form.controls.name.valid && !form.controls.name.pristine" class="help is-danger">
                      Nome inválido
                    </p>
                  </div>
                  <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                      <input formControlName="email" class="input" type="email" placeholder="Email" value="alex@smith.com">
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Tecnologias</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control" *ngFor="let technology of technologiesFields.controls; let i=index">
                      <input type="checkbox" [formControl]="technology"/> {{technologies[i].name}}
                    </div>
                  </div>
                </div>
              </div>
              
            
              <div class="field is-horizontal">
                <div class="field-label">
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button [ngClass]="isLoading ? 'is-loading' : ''" class="button is-primary" (click)="submit()" [disabled]="!form.valid">
                        Salvar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>