<section class="hero is-primary is-medium animated slideInDown">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item pacifico medium-text animated pulse infinite" routerLink="/">
            Teste DB1 Global Software
          </a>
        </div>
      </div>
    </header>
  </div>
</section>