<app-headbar></app-headbar>

<div class="wrapper">
  <div class="columns">
    <app-aside-menu class="aside column is-2"></app-aside-menu>
    <main class="column main">
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/jobs">Vagas</a></li>
          <li class="is-active"><a href="#" aria-current="page">Alterar Vaga</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary">Alterar Vaga</div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline">
        <div class="column is-9">
          <article class="message is-danger" *ngIf="errors.length > 0">
            <div class="message-body">
              <ul>
                <li *ngFor="let error of errors">{{error.message}}</li>
              </ul>
            </div>
          </article>
          <form [formGroup]="form">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Nome da vaga</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input formControlName="name" [ngClass]="(!form.controls.name.valid && !form.controls.name.pristine)?'input is-danger':'input'" type="text" placeholder="por ex. Desenvolvedor BackEnd">
                  </div>
                  <p *ngIf="!form.controls.name.valid && !form.controls.name.pristine" class="help is-danger">
                    Nome inválido
                  </p>
                </div>
              </div>
            </div>
            
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Descrição</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <textarea formControlName="description" class="textarea" placeholder="Detalhes da vaga"></textarea>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="field is-horizontal">
              <div class="field-label">
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button [ngClass]="isLoading ? 'is-loading' : ''" class="button is-primary" (click)="submit()" [disabled]="!form.valid">
                      Salvar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>