<app-headbar></app-headbar>

<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
      <h1 class="title">Github</h1>
      <h2 class="subtitle">
        Listagem de Usuários
      </h2>
    </div>
    <div class="content">
      <ul>
        <li *ngFor="let user of users">
           <a routerLink="/user/{{user.login}}">{{user.id}} - {{user.login}}</a>
        </li>
      </ul>
      <nav style="justify-content: center; display: flex;">
        <a class="button is-primary is-outlined" (click)="loadMore()">Carregar mais</a>
      </nav>
   </div>    
  </div>
</section>

<app-footer></app-footer>