<app-headbar></app-headbar>

<div class="wrapper">
  <div class="columns">
    <app-aside-menu class="aside column is-2"></app-aside-menu>
    <main class="column main">
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary"><i class="fa fa-tachometer"></i> Dashboard</div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>