<app-headbar></app-headbar>

<section class="section">
  <div class="container">
    <div class="animated fadeIn">
      <div class="heading">
          <h1 class="title">{{username}}</h1>
      </div>
      <h2 class="subtitle">
          <a href="{{user.html_url}}" target="_blank">{{user.html_url}}</a>
      </h2>
    </div>
    <div class="content">
      <p>Id: {{user.id}}</p>
      <p>Criado em: {{getFormattedCreatedAt()}}</p>
      
      <h3>Repositórios</h3>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Url</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of repositories">
            <td>{{repo.id}}</td>
            <td>{{repo.name}}</td>
            <td><a href="{{repo.html_url}}" target="_blank">{{repo.html_url}}</a></td>
          </tr>
          <tr *ngIf="repositories.length == 0">
            <td colspan="3">Não possui nenhum repositório público</td>
          </tr>
        </tbody>
      </table>
      <nav style="justify-content: center; display: flex;">
        <a class="button is-primary is-outlined" (click)="loadMoreRepos()">Carregar mais</a>
      </nav>
   </div>    
  </div>
</section>

<app-footer></app-footer>

